.main a{
  color: #ffffff;
}
.main {
  padding: 20px;
}
form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #181a1b;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
form label {
  margin-bottom: 10px;
  font-weight: bold;
  color: #ffffff;
}
form input[type="text"],
form input[type="email"],
form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  resize: vertical;
}
form button {
  background-color: #717171;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
form button:hover {
  background-color: #717171;
}