body {
    font-family: 'Arial', sans-serif;
    background-color: #242728;
    color: #ffffff;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
.main {
    padding: 20px;
    text-align: center;
}
.logo-container01 {
    margin: 20px auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 20px #ff9600;
}
.logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.name {
    font-size: 2rem;
    margin: 20px 0;
    color: #ff9600;
}
.url a img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}
.url a img:hover {
    transform: scale(1.2);
}
.story, .status, .credit {
    margin: 20px 0;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
h2 {
    color: #ff9600;
    margin-bottom: 10px;
}
.main a {
    color: #ff9600;
    text-decoration: none;
}
.main a:hover {
    text-decoration: underline;
}

.characters {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.character {
    text-align: center;
    color: #ffffff;
}
.character img {
    width: auto;
    height: 425px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.character img:hover {
    transform: scale(1.1);
}
.character p {
    margin-top: 10px;
    font-size: 1rem;
    color: #ff9600;
}

.status {
    margin-bottom: 50px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
}

.status.active {
    opacity: 1;
    transform: translateY(0);
}
